body {
  margin: 0;
  background-size: cover;
 /* background-image: url("../imagenes/bg.jpeg");*/
  height: 100vh;
  overflow: hidden;
  display: flexbox;
}

#pantallaInicio {
  display: flex;  /* con display ocultamos la pantalla dependiendo la que queramos activa*/
  padding-left: 230px;
  background-attachment: fixed;
  margin: auto;

}

#pantallaReinicio {
  display: none;
}

#start-btn {
  display: flex;
  background-color: transparent;
  color: transparent;
  border-style: none;
  width: 150px;
  height: 100px;
  margin-top: -40em;
  margin-left: 80em;
}

#start-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;

}

#restart-btn {
  margin-top: 50em;
  margin-left: -30em;
  background-color: transparent;
  color: transparent;
  border-style: none;
}

#restart-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#my-canvas {
  display: none;
  padding-left: 80;
  background-attachment: fixed;
  background-color: transparent;

}

#score {
  display: none;
  position: absolute;
  margin-left: -100;
  font-size: 2.5rem;
  text-align: center;
  opacity: 1.5;
  margin-top: 1em;
  margin-left: 10em;
  color: rgb(12, 233, 104);
}