body {
  margin: 0;
  background-size: cover;
 /* background-image: url("../imagenes/bg.jpeg");*/
  overflow: hidden;
  display: flexbox;
}

#pantallaInicio {
  display: flex;  /* con display ocultamos la pantalla dependiendo la que queramos activa*/
  padding-left: 230px;
  background-attachment: fixed;
  margin: auto;

}

#pantallaReinicio {
  display: none;
}

#pantallaJuego {
  flex-direction: row;
  display: flex;

}

#start-btn {
  display: flex;
  background-color: transparent;
  color: transparent;
  border-style: none;
  width: 150px;
  height: 100px;
  margin-top: -70em;
  margin-left: 60em;
}

#start-btn2 {
  display: flex;
  background-color: transparent;
  color: transparent;
  border-style: none;
  width: 60px;
  height: 50px;
  margin-top: -20em;
  margin-left: 60em;
}

#start-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;

}

#restart-btn {
  margin-top: 42em;
  margin-left: -22em;
  background-color: transparent;
  color: transparent;
  border-style: none;
}

#restart-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  

}

.gameContainer {
  flex-direction: column;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#my-canvas {
  display: none;
  padding-left: 80;
  background-attachment: fixed;
  background-color: transparent;

}

#score {
  font-size: 2.5rem;
  text-align: center;
  opacity: 1.5;
  background-color: rgb(33, 173, 216);
  color: black;
	display:none;
	border:1px solid #000;
	border-radius:15px;
}