body {
  margin: 0;
  background-size: cover;
  background-image: url("../imagenes/bg.jpeg");
  height: 100vh;
  overflow: hidden;
}

#pantallaInicio {
  display: flex;  /* con display ocultamos la pantalla dependiendo la que queramos activa*/
  padding-left: 230px;
  background-attachment: fixed;
  margin: auto;

}

#pantallaReinicio {
  display: none;
}

#start-btn {
  background-color: transparent;
  color: transparent;
  border-style: none;
  width: 150px;
  height: 100px;
  margin-top: -20em;
  margin-left: 60em;
}

#start-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;

}

#restart-btn {
  margin-top: -5em;
  margin-left: 50em;
  background-color: transparent;
  color: transparent;
  border-style: none;
}

#restart-btn:hover {
  transform: scale(1.2);
  transition-duration: 1s;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#my-canvas {
  display: none;
  background-attachment: fixed;
  margin: auto;
  background-color: rosybrown;

}

#score {
/*
  position: absolute;
  top: 5%;
  right: 5%;
  width: 160px;
  font-size: 1.5rem;
  text-align: center;
  background-image: url("../images/scoreBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 55px 20px 65px 40px;
  opacity: 0.5;

  display: flex;
  width: 150px;
  height: 100px;
  margin-top: 5em;
  margin-left: 50em;
  color: black;
  border-style: none;*/
}

